body{
    background-color: rgb(4, 122, 24);
    background-image: url('/images/collage_kerala.jpg');
    
  }

  .col-2 {
    background-color: rgb(164, 255, 202);
    /* width: 20%;
    display: flex;
   
     */
    margin-bottom: 20px;
    
    

    
  }
  .col-8 {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 238, 144);
    
  }
  .col-2:nth-child(3) {
    background-color: rgb(0, 182, 76);
    
  }
  
  #second_line {
    /* width: 800px; Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    overflow: hidden; /* Hides the content that overflows the container */
    border: 1px solid #ccc;
    padding-top: 8px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 20px;
    
  }
  #nav{
    margin-top: 10px;
    
  }
  .scrolling-text {
    white-space: nowrap; /* Prevents the text from wrapping */
    animation: scrollText 15s linear infinite; /* Adjust duration (15s) as needed */
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(100%); 
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  #thirdline_container_left{
    max-height: 100%;
    max-width: 100%;
    background-image: url('/images/collage_kerala.jpg');
  
  }
  #map{
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    /* background: linear-gradient(45deg,yellow, green ); */
    
  }
  
  #left_cover{
    /* max-width: 100%; */
    max-height: 1000px;
    display: flex;
    
    
  }
  
  
  #menu{
    /* margin-top: 20px; */
    /* padding: 5px 5px 5px 5px; */
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 15px; */
    box-shadow: 0 3px 10px rgb(82, 82, 75) ;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
    
  }
  
  /* #kerala_map1{
    margin-left: 150px;
    
  } */
  
  #map_back{
    background-image: url('/images/collage_kerala.jpg');
    
  }
  
  #image_container{
    /* width: 90%;
    height: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 100px 50px 100px;
    overflow: hidden;
    
  }
  
  #image{
    border: 1px solid black;
    border-radius: 25px 50px 25px 50px;
    
  }
  
  
  
  .nav-item:hover{
    
    font-weight: bold;
    
    
  }

  #container_1{
    background-color: rgb(255, 254, 255);
    width: 20%;
    height: 900px;
    float: left;
    max-width: 700px;
    min-height: auto;
    overflow: hidden;
    
  }

  #container_1 img{
    max-width: 800px;
    min-height: auto;
    
    background-image: url('/images/collage_kerala.jpg');
  }

  #container_2{
    background-color: rgb(255, 0, 170);
    width: 20%;
    height: 900px;
    float: left;
    max-width: 700px;
    min-height: auto;
    overflow: hidden;
  }

  #container_3{
    background-color: rgb(50, 104, 205);
    width: 40%;
    height: 900px;
    float: left;
    max-width: 700px;
    min-height: auto;
    overflow: hidden;
    background-image: url('/images/collage_kerala.jpg');
  }

 

  #container_4{
    background-color: rgb(205, 50, 50);
    width: 20%;
    height: 900px;
    float: left;
    max-width: 700px;
    min-height: auto;
    background-image: url('/images/collage_kerala.jpg');
    overflow: hidden;
  }

  #menu_font{
    font-size: 20px;
    color: white;
  }